<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Abhay Gupta</a></h1>
            <p>Developer. Programmer. Foodie</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
                <li><a href="{{ site.baseurl }}/Abhay_resume.pdf">resume</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="https://twitter.com/abhayg3" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.facebook.com/abhaygupta97" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="https://www.linkedin.com/in/abhay-gupta-658294137?trk=nav_responsive_tab_profile_pic" class="icon fa-linkedin-square"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://github.com/abhaygupta97" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="mailto:amgupta12345@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

